##############################################################################
## KiCad Specific
##############################################################################
*.bak
*.bck
*.tmp
*-cache.*
*.sch~
*.bak
#*.dcm


##############################################################################
## Operating System
##############################################################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Desktop.ini


#############################################################################
## Archives
##############################################################################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.war
*.rar
*.tar
*.zip


##############################################################################
## Tools
##############################################################################
# VIM Editor (temp and backup files)
.*.swp
*~


